<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <%= render "shared/stats" %>
    <br>
    <%= render "follow_form" if logged_in? %>
  </aside>
  <div class="col-md-8 col-offset-2" style="margin-top: 10px;">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Activity
        <%= link_to @user.name, @user %>
      </div>
      <div class="panel-body">activity
      </div>
    </div>
  </div>
</div>
