<% if words.any? %>
  <table class="table table-striped">
    <tr>
      <th><%= t :ID %></th>
      <th><%= t :question %></th>
      <th><%= t :answer %></th>
    </tr>
    <%= render words %>
  </table>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% else %>
  <%= t :no_items_found %>
<% end %>
