 <% provide :title, t("word_list") %>
 <%= form_for words_path, method: :get, remote: true, html: {id: "filter_form"} do |f| %>
  <div class="row">
    <div class="col-md-5 dropdown_cate">
    <%= select_tag :category_id,
      options_from_collection_for_select(@categories, :id, :name,
        params[:category_id]), include_blank: t("word.all"), #params[:category_id] tso of id
        class: "form-control" %>
    </div>
    <div class="col-md-6">
      <% ["all_word", "learned", "no_learn"].each_with_index do |option, index| %>
      <div class="col-md-3">
        <div class="radio">
          <label>
            <%= radio_button_tag :option, option, #name , gia tri
            (checked = true if params[:option] == option || params[:option]
            .nil? && index == 0) %><br>
            <%= t "word.#{option}" %>
          </label>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-1 btn_fil">
      <%= submit_tag t("filter"), {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>
<hr/>
<center><h2><%= t "word_list" %></h2></center>
<div id="words">
  <%= render "words", words: @words %>
</div>
