<tr>
  <td class="category-name">
    <%= category.name %>
  </td>
  <td class="col-actions text-right">
    <%= link_to edit_admin_category_path(category),
    class: "btn btn-default btn-xs" do %>
    <span class="glyphicon glyphicon-edit"></span>
    <%= t :edit %>
    <% end %>
    <%= link_to admin_category_path(category), method: :delete,
    class: "btn btn-danger btn-xs", data: {confirm: t(:you_sure)} do %>
    <span class="glyphicon glyphicon-remove"></span> <%= t :delete %>
    <% end %>
  </td>
</tr>
