<% provide :title, t("categories") %>
<center><h2><%= t "categories" %></h2></center>
<% @categories.each do |category|%>
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin"><%= category.name %></h3>
    <p><%= t :description %></p>
    <%= link_to category, class: "btn btn-primary btn_start" do %>
      <span class="glyphicon glyphicon-play"></span>
      <%= t :start %>
    <% end %>
  </div>
<% end %>
