<% if @lessons.any? %>
  <table class="table table-hover">
    <tr>
      <th><%= t :lesson %></th>
      <th><%= t :status %></th>
      <th></th>
    </tr>
    <%= render @lessons %>
  </table>
  <div class="text-center">
    <%= will_paginate @lessons %>
  </div>
<% else %>
  <%= t :no_items_found %>
<% end %>
