<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("logo"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("help"), help_path %></li>
<<<<<<< HEAD
        <li><%= link_to t("login"), "#" %></li>
=======
        <li><%= link_to t("login"), "" %></li>
>>>>>>> 67911afd0554c1f46005b3023aaa4ccc1b0f6af4
      </ul>
    </nav>
  </div>
</header>
